<h1>Weather Forecast</h1>

<div class="container">
  <div class="weather-card">
    <div class="main-weather">
      <h1><%= @weather_data['main']['temp'] %> °C</h1>
      <div class="location-time">
        <h2><%= @city %>, <%= @weather_data['name'] %></h2>
        <p><%= @time_location %></p>
      </div>
    </div>
    <div class="secondary-info">
      <div>
        <p>Weather: <%= @weather_data['weather'][0]['description'] %></p>
      </div>
    </div>
    <div class="secondary-info">
      <div>
        <p>Humidity: <%= @weather_data['main']['humidity'] %> %</p>
      </div>
      <div>
        <p>Feels like: <%= @weather_data['main']['feels_like'] %> °C</p>
      </div>
    </div>
    <div class="secondary-info">
      <div>
        <p>Pressure: <%= @weather_data['main']['pressure'] %>  mb</p>
      </div>
      <div>
        <p>Wind: <%= @weather_data['wind']['speed'] %> mph</p>
      </div>
    </div>
        <div class="secondary-info">
      <div>
        <p><strong>Advice:</strong> <%= @advice %></p>
      </div>
    </div>
  </div>
</div>

<div class="search-again-container">
  <%= link_to 'Search Again', root_path, class: 'search-again-link' %>
</div>
