<h1>Weather Forecast</h1>
<br>
<% if @weather_data.present? %>
  <div>
    <h2>Weather in <%= @weather_data['name'] %>:</h2>
    <h3>Temperature: <%= @weather_data['main']['temp'] %> °C</h3>
    <h3>Weather: <%= @weather_data['weather'][0]['description'] %></h3>
    <ul>
      <div>
        <li>Feels like: <%= @weather_data['main']['feels_like'] %> m/s</li>
        <li>Wind: <%= @weather_data['wind']['speed'] %> m/s</li>
        <li>Humidity: <%= @weather_data['main']['humidity'] %></li>
        <li>Longitude: <%= @weather_data['coord']['lat'] %></li>
        <li>Latitude: <%= @weather_data['coord']['lon'] %></li>
      </div>
    </ul>
    <h2>Advice:</h2>
    <p><%= @advice %></p>
  </div>
<% else %>
  <p><%= @error %></p>
<% end %>

<%= link_to 'Search Again', root_path %>
