<div id="navbar">
  <ul>
    <li><strong>Major Cities:</strong></li>
    <li><%= link_to 'New York', get_weather_path(country: 'us', city: 'New York') %></li>
    <li><%= link_to 'London', get_weather_path(country: 'united kingdom', city: 'London') %></li>
    <li><%= link_to 'Tokyo', get_weather_path(country: 'japan', city: 'Tokyo') %></li>
    <li><%= link_to 'Paris', get_weather_path(country: 'france', city: 'Paris') %></li>
    <li><%= link_to 'Sydney', get_weather_path(country: 'australia', city: 'Sydney') %></li>
    <li><%= link_to 'Beijing', get_weather_path(country: 'china', city: 'Beijing') %></li>
    <li><%= link_to 'Moscow', get_weather_path(country: 'russia', city: 'Moscow') %></li>
    <li><%= link_to 'Dubai', get_weather_path(country: 'united arab emirates', city: 'Dubai') %></li>
    <li><%= link_to 'Riyadh', get_weather_path(country: 'saudi arabia', city: 'Riyadh') %></li>
    <li><%= link_to 'Cairo', get_weather_path(country: 'egypt', city: 'Cairo') %></li>
    <li><%= link_to 'Nairobi', get_weather_path(country: 'kenya', city: 'Nairobi') %></li>
    <li><%= link_to 'Madrid', get_weather_path(country: 'spain', city: 'Madrid') %></li>
    <li><%= link_to 'Rome', get_weather_path(country: 'italy', city: 'Rome') %></li>
    <li><%= link_to 'Rio', get_weather_path(country: 'brazil', city: 'Rio') %></li>
  </ul>
  </div>
